// main body split up into sections  
// for box shadow use +/- 15 variables
// section 1: "learn-new-techniques"  


.learn-new-techniques{
    background: $light-blue; 
    height: 75vh; 
    text-align: left;
    img{
        box-shadow: -15px 15px $turquoise-blue;
    }
    
}   
.lnt-flex{
display: flex;
justify-content: space-between;
padding-top:150px; 
@include tablet{
    padding-top: 50px;
}
button{
    background:$dark-blue;
    color:white;
}
} 
.lnt-text{ 
    width: 60%; 
    max-height: 100%; 
    @include tablet{
        width:90%;
    }

    
} 

// section 2: "gallery-flex"
.gallery{
    background: $dark-green; 
    img{
        
        margin: 50px 0;
        padding: 10px;
        width: 90%; 
    }
}

.gallery-flex{
    display:flex; 
     
}  

// formatting still needed here add wrap 

// section 3:four-features 

.four-features{
    display: flex; 
    flex-direction: column;  
    background: $light-blue; 
    height: 100vh; 
    padding-top:80px;
    
    

}  
.four-features-top{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;

} 
.four-features-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
} 
.feature{
    width:49%;
}

.circle-icon{
    background: $turquoise-blue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    padding: 20px;
    color: white;    
    margin-right:15px;
} 
// this above solution is from https://github.com/markheath ✌︎

// section 4: 
// do last looks confusing
.text-image-section{
    background: $dark-green; 
    height: 95vh; 
    display: flex;
    @include tablet{
        display:block;
        height: 60vh;
    }
    button{
        background: $light-blue;
    } 
    p{
        color: white;
    } 
    
} 
.text-image-first-column{
    display: flex; 
    margin-right:100px;
    flex-direction: column;
    justify-content: space-between;
    img{
        box-shadow: 15px 15px $turquoise-blue;
        margin-top: -60px; 
        @include tablet{
            display: none;
        }
    }
}  
.left-text{ 
    text-align: right; 
    padding: 0 0 60px 60px;
    @include tablet{
        padding: 0 0 10px 60px;
    }

} 
.right-text{ 
    padding: 60px 60px 0 0; 
    @include tablet{
        padding: 0px 60px 0 0;
    }
    
}
.text-image-second-column{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: space-between;
    img{
        box-shadow: -15px 15px $turquoise-blue;
        margin-bottom: -60px; 
        @include tablet{
            display:none;
        }
    }
}
.bottom-banner{
    background-image: url(../textilee-assets/banner.jpg);
    height:70vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
} 
// still need to finish this section :(

// section 5: 
.last-section{
    text-align: center; 
    background: $light-blue;
    height: 60vh; 
    display:flex;
    align-items: center; 
    h2{
        margin-top:60px;
    }
    button{
        background: $dark-blue;
        color: white; 
        margin:50px 0 70px 0;
    }
} 


    
