// main body split up into sections  
// for box shadow use +/- 15 variables
// section 1: "learn-new-techniques" 

.learn-new-techniques{
    background: $light-blue; 
    height: 75vh; 
    text-align: left;
    img{
        box-shadow: -15px 15px $turquoise-blue;
    }
    
}   
.lnt-flex{
display: flex;
justify-content: space-between;
padding-top:150px;
button{
    background:$dark-blue;
    color:white;
}
} 
.lnt-text{ 
    width: 60%; 
    max-height: 100%; 

    // find way to not have this text wrap to the next lines :(
} 

// section 2: "gallery-flex"
.gallery{
    background: $dark-blue; 
    img{
        
        margin: 50px 0;
        padding: 10px;
        width: 90%; 
    }
}

.gallery-flex{
    display:flex; 
     
}  

// formatting still needed here add wrap 

// section 3:four-features 

.four-features{
    display: flex; 
    flex-direction: column;  
    background: $light-blue;
    

}  
.four-features-top{
    display: flex;
} 
.four-features-bottom{
    display: flex;
}

// section 4: 
// do last looks confusing
.text-image-section{
    background: $dark-blue; 
    height: 90vh; 
    display: flex;
    button{
        background: $light-blue;
    } 
    p{
        color: white;
    }
} 
.text-image-first-column{
    display: flex; 
    flex-direction: column;
    img{
        box-shadow: 15px 15px $turquoise-blue;
    }
} 
.text-image-second-column{
    display: flex;
    flex-direction: column-reverse;
    img{
        box-shadow: -15px 15px $turquoise-blue;
    }
}
.bottom-banner{
    background-image: url(../textilee-assets/banner.jpg);
    height:60vh;
    background-position: center;
} 
// still need to finish this section :(

// section 5: 
.last-section{
    text-align: center; 
    background: $light-blue;
    height: 60vh; 
    display:flex;
    align-items: center; 
    h2{
        margin-top:60px;
    }
    button{
        background: $dark-blue;
        color: white; 
        margin:50px 0 70px 0;
    }
} 


    
