// header stylings here, may be some overlap with nav!

.main-header{
    background-image: url(../textilee-assets/header-home.jpg); 
    background-size: cover;
    height:85vh;
    background-repeat: no-repeat;  
    background-position: right;
    
} 

.scissors {
    position: relative;
    top: 10%; 
    width: 55%;  
}