// header stylings here, may be some overlap with nav!

.main-header{
    background-image: url(../textilee-assets/header-home.jpg); 
    background-size: cover;
    height:85vh;
    background-repeat: no-repeat;  
    background-position: right;
    @include tablet{
        background-position: center;
    }
} 

.scissors {
    position: relative;
    top: 5%;  
    left:0;
    width: 55%;   
    @include tablet{ 
        top:60px; 
        
    }
    @include mobile{
        display:none;
    }
  
}