// styling for nav, these will be universal for all pages 

// main nav
.flex-nav{
    display: flex; 
    justify-content: space-between;    
    padding-top:20px;

 ul{  
    
letter-spacing: 1.4px;
    display: flex; 
    li{
        padding-left:30px;
        text-transform: uppercase;
    }  
} 
} 
// hover/animations
.flex-nav a{ 
    @include lato(2rem,bold,29px,$dark-blue); 
    letter-spacing: 1.4px;
    transition: border-bo 0.2s;
    @include tablet{ 
        font-size: 1.6rem;
    }
    @include mobile{
        display: none;
    }
}
.flex-nav a:hover{
    border-bottom: 2px solid $turquoise-blue;

}


// TOGGLE NAV STYLING 

.burger-menu{
    position:fixed;
    font-size: 4rem; 
    right: 30px;
    top: 30px;
    opacity: 0;
@include mobile{
    opacity: 1;
}
}
