.blog-header {
  background-image: url(../textilee-assets/blog-header.jpg);
  background-size: cover;
  height: 70vh;
}

.top-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: grey;
}

.left-blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
